In [ ]:
#here we are doing 
#a.	BOW / TFIDF to generate sparse vector representations. 
#Note that this will only help you to build a Keyword Based Search Engine.

In [15]:
import pandas as pd

df = pd.read_csv("chunked_data.csv")

In [16]:
df.head()

,num,name,content,file_content,chunked_text
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...,ah theres princess dawn and terry with the blo...,['ah theres princess dawn and terry with the b...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...,yumis cells episode extremely polite yumi yumi...,['yumis cells episode extremely polite yumi yu...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...

In [17]:
df.head()

,num,name,content,file_content,chunked_text
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...,ah theres princess dawn and terry with the blo...,['ah theres princess dawn and terry with the b...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...,yumis cells episode extremely polite yumi yumi...,['yumis cells episode extremely polite yumi yu...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...

In [18]:
# Drop the 'content' column if needed
df.drop("content", axis=1, inplace=True)

In [19]:
df.head()

,num,name,file_content,chunked_text
0,9180533,the.message.(1976).eng.1cd,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,ah theres princess dawn and terry with the blo...,['ah theres princess dawn and terry with the b...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,yumis cells episode extremely polite yumi yumi...,['yumis cells episode extremely polite yumi yu...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...
4,9180600,broker.(2022).eng.1cd,watch any video online with opensubtitles free...,['watch any video online with opensubtitles fr...

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
#function to perform TF-IDF vectorization
def perform_tfidf(df_column):
    tfidf_vectorizer = TfidfVectorizer()
    tfidf_matrix = tfidf_vectorizer.fit_transform(df_column)
    return tfidf_vectorizer, tfidf_matrix

In [22]:
# TF-IDF vectorization on 'chunked_text' column
tfidf_vectorizer, tfidf_matrix = perform_tfidf(df['chunked_text'])

#it took me 1 minute 17 seconds

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
#function to find similar records based on a query
def find_similar_records(query, df, tfidf_vectorizer, tfidf_matrix):
    query_vector = tfidf_vectorizer.transform([query])
    cosine_similarities = cosine_similarity(query_vector, tfidf_matrix).flatten()
    similar_records_indices = cosine_similarities.argsort()[::-1]
    similar_records = df.iloc[similar_records_indices]
    similar_records['similarity'] = cosine_similarities[similar_records_indices]
    return similar_records

In [32]:
# Get user input for the keyword
keyword = input("Enter keyword to search: ")

# Find similar records based on the keyword
search_results = find_similar_records(keyword, df, tfidf_vectorizer, tfidf_matrix)

# Get user input for the number of search results
top_n = int(input('Enter the number of search results you want: '))

# Display the top N search results
print(f"Top {top_n} search results for keyword '{keyword}':")
print(search_results[['name', 'similarity']].head(top_n))

C:\Users\poppo\AppData\Local\Temp\ipykernel_15880\983830734.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  similar_records['similarity'] = cosine_similarities[similar_records_indices]

Top 5 search results for keyword 'comedy':
                                                    name  similarity
17774  pioneers.of.television.s04.e04.acting.funny.(2...    0.188952
17757  pioneers.of.television.s04.e04.acting.funny.(2...    0.180064
17767  pioneers.of.television.s03.e01.funny.ladies.(2...    0.148194
3787   the.loud.house.s01.e02.heavy.meddlemaking.the....    0.123912
17750  pioneers.of.television.s03.e01.funny.ladies.(2...    0.119188